@using LoanWebApp.Extension
@model LoanWebApp.Models.DTO.CheckLoanRequest.CheckLoanRequestViewDTO


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="summary">
    <form id="checkLoanRequest" name="checkLoanRequest">
        @Html.AntiForgeryToken()
        <input type="hidden" id="accountID" name="accountID" value="@Model.account.id" />
        <div class="card border-info">
            <div class="card-body text-dark shadow-sm">

                <!-- button visibity -> used server side to hide/show, do not use java script -->

                <button type="button" class="btn btn-primary" id="btnEdit" onclick="edit()"> <i class="fas fa-pencil-alt"></i> Edit </button>
                <button type="button" class="btn btn-success" id="btnSave" onclick="save()"> <i class="fas fa-save"></i>  Save  </button>
                <button type="button" class="btn btn-danger" id="btnCancel" onclick="cancel()"> <i class="fas fa-times"></i> Cancel  </button>

                <button type="button" class="btn btn-info" id="btnSubmitForApproval"> <i class="fas fa-upload"></i> Submit For Approval  </button>
                <button type="button" class="btn btn-success" id="btnApprove"> <i class="fas fa-check"></i> Approve </button>
                <button type="button" class="btn btn-danger" id="btnReject"> <i class="fas fa-times"></i> Reject </button>
            </div>
        </div>

        <br />

        <!-- Account Card -->
        <div class="card shadow-sm">
            <div class="card-header"> Account </div>
            <!-- card body -->
            <div class="card-body">

                <!--row 1-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="idCard"> ID card (*): </label>
                            <a href="@Model.account.documents[0].fullPath" target="_blank">
                                <div> <img class="img-fluid rounded mx-auto d-block image-register" src="~/@Model.account.documents[0].path" alt="@Model.account.documents[0].name"> </div>
                            </a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control required" id="idCard" name="idCard" aria-describedby="idCard" value="@Model.account.idCard" maxlength="100" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="employeeLetter"> Employment Letter (*): </label>
                            <a href="@Model.account.documents[1].fullPath" target="_blank">
                                <div> <img class="img-fluid rounded mx-auto d-block image-register" src="~/@Model.account.documents[1].path" alt="Chania"> </div>
                            </a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control required" id="employmentLetter" name="employmentLetter" aria-describedby="email" value="@Model.account.employmentLetter" maxlength="100" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="bankAccount"> Bank Account (*): </label>
                            <a href="@Model.account.documents[2].fullPath" target="_blank">
                                <div> <img class="img-fluid rounded mx-auto d-block image-register" src="~/@Model.account.documents[2].path" alt="Chania"> </div>
                            </a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control required" id="bankAccount" name="bankAccount" aria-describedby="email" value="@Model.account.bankAccount" maxlength="100" readonly>
                        </div>
                    </div>
                </div>
                <!--end  row 1-->

                <hr />
                <!--row 2-->
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="phoneNumber"> Phone Number: </label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="email" value="@Model.account.phoneNumber" readonly>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="email"> E-mail: </label>
                            <input type="text" class="form-control" id="email" name="email" aria-describedby="email" value="@Model.account.email" readonly>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="email"> Status: </label>
                            <select class="form-control" id="status" name="status" disabled>
                                <option value="@Model.account.status"> @Model.account.statusCaption </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--end  row 2-->
                <!-- row 3 -->
                @if (Model.account.status == "Rejected")
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for=""> Reason Reject: </label>
                                <textarea id="reasonReject" name="reasonReject" class="form-control" readonly> @Model.account.reasonReject </textarea>
                            </div>
                        </div>
                    </div>
                }
                <!-- end row 3-->
            </div>
            <!--endcard body -->
        </div>
        <!-- end  Account Card -->

        <br />

        <!-- Loan Request Card -->
        <div class="card shadow-sm">
            <div class="card-header"> Loan Request </div>
            <!-- card body -->
            <div class="card-body">
                <!-- fieldset -->
                <fieldset disabled>
                    <!--row 1-->
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="phoneNumber"> Amount: </label>
                                <input type="text" class="form-control" id="amount" name="amount" aria-describedby="amount" value="@Model.loanRequest.amount.ToTwoDecimalPoint()">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="payDay"> Pay day: </label>
                                <input type="text" class="form-control" id="payDay" name="payDay" aria-describedby="payDay" value="@Model.loanRequest.payDay">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="payDate"> Pay Date: </label>
                                <input type="text" class="form-control" id="payDate" name="payDate" aria-describedby="payDate" value="@Model.loanRequest.payDate.ToDDMMYYYY()">
                            </div>
                        </div>

                    </div>
                    <!--end  row 1-->
                    <!--row 2-->
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="interestRate"> Interest Rate: </label>
                                <input type="text" class="form-control" id="interestRate" name="interestRate" aria-describedby="interestRate" value="@Model.loanRequest.interestRate.ToTwoDecimalPoint()">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="interestAmount"> Interest Amount: </label>
                                <input type="text" class="form-control" id="interestAmount" name="interestAmount" aria-describedby="interestAmount" value="@Model.loanRequest.interestAmount.ToTwoDecimalPoint()">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="loanAmount"> Loan Amount: </label>
                                <input type="text" class="form-control" id="loanAmount" name="loanAmount" aria-describedby="loanAmount" value="@Model.loanRequest.loanAmount.ToTwoDecimalPoint()">
                            </div>
                        </div>
                    </div>
                    <!--end  row 2-->
                </fieldset>
                <!-- end fieldset -->

            </div>
            <!--endcard body -->
        </div>
        <!-- end  Account Card -->

        <div class="modal fade" id="reasonRejectModal" tabindex="-1" role="dialog" aria-labelledby="reasonRejectModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reasonRejectModalTitle"> Reason Reject </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea id="reasonReject" name="reasonReject" class="form-control" value="" placeholder="Reason reject"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnReasonRejectSubmit"> <i class="fas fa-upload"></i> Sumbit </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fas fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />

    </form>
</div>

<script>

    $(document).ready(function () {
        initializeComponents();
    });

    //-> initializeComponents
    function initializeComponents() {
        setupView();
        setupEvent();
    }

    //-> setupView
    function setupView() {
        $("#btnEdit, #btnSave, #btnCancel").hide();
        $("#btnSubmitForApproval, #btnApprove, #btnReject").hide();

        if (($("#status").val() == "Pending")) {
            $("#btnEdit").show();
            if ($("#idCard").val() != "") {
                $("#btnEdit").hide();
                $("#btnSubmitForApproval").show();
            }
        }
        else {
            if (($("#status").val() == "SubmitForApproval")) {
                $("#btnSubmitForApproval").hide();
                $("#btnApprove, #btnReject").show();
            }
        }
    }

    //-> setupEvent
    function setupEvent() {
        $("#btnReject").click(function () {
            if (confirm("Do you want to reject this loan request?"))
                $("#reasonRejectModal").modal("show");
        });

        $("#btnSubmitForApproval").click(function () {
            if (confirm("Do you want to submit this loan request for approval?"))
                submitRequest('SubmitForApproval');
        });

        $("#btnApprove").click(function () {
            if (confirm("Do you want to approve this loan request?"))
                submitRequest('Approved');
        });

        //-- reason reject
        $("#btnReasonRejectSubmit").click(function () {
            if ($("#reasonReject").val() == "") {
                $("#reasonReject").addClass("is-invalid");
                return;
            }
            submitRequest('Rejected');
        });
    }

    //-> cancel
    function cancel() {
        window.location.reload();
    }

    //-> edit
    function edit() {
        $("#btnEdit").hide();
        $("#btnSave, #btnCancel").show();
        $("#idCard, #employmentLetter, #bankAccount").removeAttr("readonly");
    }

    //-> save
    function save() {
        if (isValid()) {
            ajaxHelper("../Save", $("#checkLoanRequest").serialize(), requestMethod.POST).then(function (done) {
                window.location.reload();
            });
        }
    }
    // ------------- *** ------------//
    function submitRequest(status) {
        var data = $("#checkLoanRequest").serialize() + "&status=" + status;
        ajaxHelper("../SubmitRequest/", data, requestMethod.POST).then(function (done) {
            window.location.reload();
        });
    }

</script>
