<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    @Html.Partial("~/Views/Shared/Main/Css.cshtml")

    <!-- js -->
    @Html.Partial("~/Views/Shared/Main/JS.cshtml")

    <title> Loan Web </title>

    
</head>

<body class="c-background-color">
    @Html.Partial("~/Views/Shared/Basic/Navbar.cshtml")

    <br />
    @Html.Partial("~/Views/Shared/Basic/Slider.cshtml")


    @Html.Partial("~/Views/Shared/LoadingIndicator.cshtml")
    <br />

    @RenderBody()

    <br />
    @Html.Partial("~/Views/Shared/Basic/Footer.cshtml")


</body>

</html>